<% if user_signed_in? %>
<div>
Logged in as <strong><%= current_user.telephone %></strong>.
<%= link_to 'Edit profile', edit_user_registration_path %> |
<%= link_to "Logout", destroy_user_session_path, method: :delete %>
</div>
<% else %>
<%= link_to "Sign in", new_user_session_path %>
<% end %>